html {
	scroll-behavior: smooth;
}


body {
	text-align: center;
}

img {
	width: 300px;
	height: 300px;
	border: 5px solid;
	border-color: aqua;
}

#Welcome {
	background: linear-gradient(Orange 0%, lightblue 100%);
}

h1 {
	color: red;
	text-shadow: 2px 2px orange;
}

#Name {
	font-family: cursive;
	font-size: 40px;
}

.nav navbar-nav {
	list-style: none;
	font-family: 'Lobster', cursive;
	float: left;
	Position:fixed;
	top: 0px;
	right: 30px;
	z-index: 99999;
	cursor: pointer;
	color: aqua;
}

.links {
	float: left;
	color: black;
	padding-left: 6px;
	padding-right: 5px;
	font-size: 20px;
	font-family: 'Lobster', cursive;
}

.links:hover {
	color: aqua;
	background-color: blueviolet;
}

.links {
	float: left;
	color: black;
	padding-left: 6px;
	padding-right: 5px;
	font-size: 20px;
	font-family: 'Lobster', cursive;
}

.links:hover {
	color: aqua;
	background-color: blueviolet;
}

#GV {
	height: 300px;
	width: 300px;
	transition: transform .2s;
	border-radius: 3`0%;
}

Img:hover {
	transform: scale(1.3)
}

#Welcome {
	height: 900px;
	margin-top: 70px;
}

#gallery {
	height: 900px;
	margin-top: 70px;
}

#SM {
	height: 900px;
	margin-top: 70px;
}

#contact {
	height: 900px;
	margin-top: 70px;
}

LA {
	height: 900px;
	margin-top: 70px;
	text-align: center;
}

#contact iframe {
	width: 100%;
}

.contact_1 h3 {
	display: inline;
}

.contact_1 a {
	text-shadow: none;
}

input {
	background: aqua;
}

#LA_Img {
	border-radius: 0;
  align-items: center
}

#LA H2 {
	color: deeppink;
	text-align: center;
}

#LA H3 {
	color: darkviolet;
	text-align: center;
} 

#WIN
{
height: 900px;
margin-top: 2000px;
}

.movie_head
{
font-size: 20px;
padding: 6px 22px;
border-radius; 10px;
	margin-bottom;15px;
	width 100%;
	display:inline-black;
	float: center;
}


.movie_head span
{
	color:#ff7700
}

#LA_IMG
{
height: 500px;
	width: 600px;
	margin-left:550
}

#LA_IMG:hover {
	transform: scale(2.3)
}
